@model UpdateServiceDto
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h2>Edit Service</h2>

<form method="post">
    <input type="hidden" asp-for="ServiceID" />
    <div class="form-group">
        <label asp-for="ServiceIcon">Service Icon</label>
        <input asp-for="ServiceIcon" class="form-control" />
        <span asp-validation-for="ServiceIcon" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>


