<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Default/Index/" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text"> go to web site</span>
                </a>
            </li>
            <li>
                <a href="/Dashboard/Index/" aria-expanded="false">
                    <i class="icon-magic-wand menu-icon"></i><span class="nav-text"> Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/staff/Index/" aria-expanded="false">
                    <i class="fa-regular fa-user"></i><span class="nav-text"> Personals</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="fa-regular fa-comments"></i><span class="nav-text"> Reference</span>
                </a>
            </li>
            <li>
                <a href="/Service/Index/" aria-expanded="false">
                    <i class="icon-clock menu-icon"></i> <span class="nav-text">Services</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="icon-info menu-icon"></i><span class="nav-text">About us</span>
                </a>
            </li>
            <li>
                <a href="/BookingAdmin/Index/" aria-expanded="false">
                    <i class="fa-regular fa-bookmark"></i><span class="nav-text">Booking</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="icon-layers menu-icon"></i><span class="nav-text">Room</span>
                </a>
            </li>
            <li>
                <a href="/AdminGuest/Index/" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Guest</span>
                </a>
            </li>
            <li>
                <a href="/AdminContact/Inbox/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Messages</span>
                </a>
            </li>
            <li>
                <a href="/AdminGuest/Index/" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Emails</span>
                </a>
            </li>
            <li>
                <a href="/AdminUsers/Index/" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Users</span>
                </a>
            </li>
            <li>
                <a href="/AdminWorkLocation/Index/" aria-expanded="false">
                    <i class="icon-puzzle menu-icon"></i><span class="nav-text">Work Location</span>
                </a>
            </li>
            <li>
                <a href="/Role/Role/" aria-expanded="false">
                    <i class="icon-game-controller menu-icon"></i><span class="nav-text">Roles</span>
                </a>
            </li>
            <li>
                <a href="/RoleAssign/Index/" aria-expanded="false">
                    <i class="icon-game-controller menu-icon"></i><span class="nav-text">Role Assign</span>
                </a>
            </li>
            <li>
                <a href="/settings/Index/" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Settings</span>
                </a>
            </li>
            <li>
                <a href="/Login/Logout/" aria-expanded="false">
                    <i class="icon-close menu-icon"></i><span class="nav-text">Log out</span>
                </a>
            </li>
        </ul>
    </div>
</div>